# Скопіюй цей файл у .env і встав туди свої реальні дані.
# Файл .env НІКОЛИ не заливається на git (він у .gitignore) —
# бо містить пароль від бази даних.

MONGODB_URI=mongodb+srv://solution1994_db_user:ТВІЙ_ПАРОЛЬ@admin.cwr1my4.mongodb.net/sneakerShop?retryWrites=true&w=majority&appName=Admin
JWT_SECRET=navchalnyi-sekret-zminy-mene
PORT=3000
